---
interface Props {
    id?: string;
    className?: string;
    content: string;
    width?: string;
    height?: string;
    backgroundColor?: string;
    fontWeight?: string;
}

const {id, className, content, width, height, backgroundColor, fontWeight } = Astro.props;
---

<button 
    id={ id || null}
    class={ className || null}
    style={{ 
    width: width || 'auto',
    height: height || '45px',
    backgroundColor: backgroundColor || 'var(--verdePrincipal)',
    fontWeight: fontWeight || 'bold',
}}>

    {content}
</button>

<style >
    button {
        color: #000;
        padding: 0 20px;
        font-size: 14px;
        border: solid 1px #000;
        filter: drop-shadow(5px 5px 0px #000000);
        transition: filter 0.3s ease;
    }

    button:hover {
        filter: drop-shadow(0px 0px 0px #000000);
    }
</style>