---
// import { Icon } from 'astro-icon/components'
import PowerIcon from "../icons/PowerIcon.astro";

interface Props {
	title: string;
	body: string;
	dropShadowColor: string;
}

const { title, body, dropShadowColor } = Astro.props;
---


	<div
		class="card"
		style={{
		filter:`drop-shadow(15px 15px 0px ${dropShadowColor})`
		}}
	>
			<!-- <PowerIcon />	 -->
			<svg width="341" height="311" viewBox="0 0 341 311" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M319.788 182.093C318.529 180.277 316.037 179.825 314.221 181.084L284.633 201.591C282.817 202.849 282.366 205.341 283.624 207.157C284.882 208.972 287.374 209.424 289.19 208.166L315.491 189.938L333.719 216.238C334.978 218.054 337.47 218.506 339.285 217.247C341.101 215.989 341.553 213.497 340.294 211.681L319.788 182.093ZM24 158.371C24 156.162 22.2091 154.371 20 154.371C17.7909 154.371 16 156.162 16 158.371H24ZM312.564 183.658C304.932 225.76 288.79 255.398 264.937 274.566C241.061 293.752 208.933 302.871 168.5 302.871V310.871C210.082 310.871 244.203 301.49 269.948 280.802C295.717 260.095 312.568 228.483 320.436 185.085L312.564 183.658ZM168.5 302.871C88.6949 302.871 24 238.177 24 158.371H16C16 242.595 84.2766 310.871 168.5 310.871V302.871Z" fill="black"/>
				<path d="M21.2134 128.779C22.4718 130.594 24.9639 131.046 26.7796 129.788L56.3679 109.281C58.1836 108.022 58.6354 105.53 57.377 103.715C56.1186 101.899 53.6266 101.447 51.8109 102.706L25.5101 120.934L7.28184 94.6331C6.02344 92.8174 3.5314 92.3656 1.71571 93.624C-0.0999778 94.8824 -0.551751 97.3745 0.706647 99.1901L21.2134 128.779ZM317.001 152.5C317.001 154.709 318.792 156.5 321.001 156.5C323.21 156.5 325.001 154.709 325.001 152.5H317.001ZM28.4369 127.213C36.0694 85.1118 52.211 55.4732 76.0638 36.3055C99.9399 17.119 132.068 8 172.501 8L172.501 -3.24845e-06C130.919 -3.24845e-06 96.7979 9.38095 71.0526 30.0695C45.284 50.7767 28.4327 82.3882 20.5652 125.786L28.4369 127.213ZM172.501 8C252.306 8 317.001 72.6948 317.001 152.5H325.001C325.001 68.2766 256.724 -3.24845e-06 172.501 -3.24845e-06L172.501 8Z" fill="black"/>
				<path d="M190.445 52.0951C193.251 48.9512 198.384 51.7235 197.293 55.7939L165.636 173.939C165.064 176.073 162.871 177.34 160.737 176.768L101.188 160.811C98.31 160.04 97.2549 156.507 99.2387 154.284L190.445 52.0951Z" fill="black"/>
				<path d="M146.037 252.93C143.231 256.074 138.099 253.302 139.189 249.232L170.846 131.086C171.418 128.952 173.611 127.686 175.745 128.258L235.295 144.214C238.173 144.985 239.228 148.519 237.244 150.741L146.037 252.93Z" fill="black"/>
				</svg>
	
	
			<h3>
				{title}
			</h3>
			<p>
				{body}
			</p>
	</div>


<style>
	div {
		min-width: 200px;
		width: 450px;
		min-height: 550px;
		background-color: #fff;
		/* border: 3px solid black; */
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 80px;
		outline: 2px solid black;
		/* filter: drop-shadow(10px 10px 0px var(--azulPrincipal)); */
        /* transition: filter 0.3s ease;		 */
	}

	/* div:hover {
		filter: drop-shadow(0px 0px 0px #000);
	} */

	h3 {
		color: #000;
		font-size: 38px;
		font-weight: 700;
		line-height: 1.2;
		padding-bottom:20px;
		padding-top:50px;
	}

	svg {
		height: 150px;
		width: 150px;
		align-self: center;
	}

	p{
		font-size: 18px;
		font-weight: bold;
	}

	@media (width < 600px) { 
		div {
			min-height: 320px;
			padding: 0 40px;
			margin: 0 15px;
		}
		h3 {
			font-size: 26px;
			padding-bottom:18px;
			padding-top:25px;
			
		}
		p {
		font-size: 16px;
		font-weight: normal;
		}
		svg {
		height: 90px;
		width: 90px;
	}
	}
</style>
