---
import HeaderDesktop from "./HeaderDesktop.astro";
import MobileMenu from "../components/Mobile/MobileMenu.astro";
---

<>
    <HeaderDesktop id="header"></Header>
    <div id="mobile-menu">
        <MobileMenu/>
    </div>
</>

<style>
    #mobile-menu {
		display: none;
	}
</style>

