---
import { Icon } from 'astro-icon/components'
import Button from "../components/Button.astro";

---

<header>
  <nav>
    <img src="../../public/img/logos/logo-checkr.png" width="37" height="37">
    <ul>
      <li><a href="">Products</a></li>
      <li><a href="">Use Cases</a></li>
      <li><a href="">Developers</a></li>
      <li><a href="">Resources</a></li>
    </ul>

    <span class="header-button">
        <Button id="header-button" content="Start For Free" height="35px" fontWeight="500" />
    </span>
    <Icon 
        name="Hamburguer-menu"
        class="hamburger-menu"
    />
    

  </nav>
  
</header>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const hamburgerIcon = document.querySelector(".hamburger-menu");
        const crossIcon = document.querySelector("#cross-icon");
        const mobileMenu = document.querySelector("#mobile-menu") as HTMLElement;

        hamburgerIcon.addEventListener("click", toggleMobileMenu);
        crossIcon.addEventListener("click", toggleMobileMenu);

        function toggleMobileMenu() {
            mobileMenu.style.display = (mobileMenu.style.display === "block") ? "none" : "block";
        }
    });
</script>


<style>

  header {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    font-family: var(--mainFont);
    font-weight: bold;
    font-size: 14px;
    height: 60px;
    align-content: center;
    padding: 0 50px;
    border: solid 1px #000;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }


  [data-icon="Hamburguer-menu"] {
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    display:none;
  } 

  
  
  @media (width < 768px) {
    [data-icon="Hamburguer-menu"] {
    display:inline;
  } 
  
  .header-button {
    display: none;
  }

  ul {
    display: none;
  }
  
  }
</style>


