---
import Accordion from "../components/Accordion.astro";
import AccordionTest from "../components/AccordionTest.astro";
import TabletMockup from "../icons/TabletMockup.astro";
---

<section>
    <div class="layout">
        <div class="text">
            <h2>It's easy to integrate with Checkr</h2>
            <p>Plug Checkr right into your hiring workflow</p>
            <span>
                <AccordionTest />
            </span>
        </div>
        <div class="image">
                <!-- <TabletMockup /> -->
                <img src="/tablet_svg.svg">
        </div>
    </div>
    
</section>

<style>
    section {
        padding: 50px 100px;
        background-color: var(--verdePrincipal);
        /* display: flex; */
        flex-direction: row;
        border: solid 3px #000;
        border-top: none;
    }

    p {
        padding-bottom: 50px;
    }
    
    .image{
        width: 50%;
        display: flex;
        justify-content: center; 
        /* background-color: blueviolet; */
    }

    .text{
        width: 50%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: left;
        justify-content: center;
        padding-bottom: 50px;
    }

    span {
        width: 80%
    }

    /* svg {
        width: 1000px;
    } */
    

    @media (width < 700px) { 
        section {
                padding: 10px 20px;
                flex-direction: column; 
                /* border-right: none;
                border-left: none;  */
        }


        div.image, div.text{
                width: 100%;
        }

        .layout {
            flex-direction: column;    
        }

        .text {
            display: initial;
            padding-bottom: 0;
        }

        .image {
            padding-top:40px;
        }


    }
</style>